
.showLeft, .showRight{
  animation-delay: 0.3s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.06,.98,.14,.98);
}

.showLeft{
  animation-name: ballToLeft;
}

@keyframes ballToLeft{
  from{
    visibility: hidden;
    transform: translate(31px);
  }
  to{
    visibility: visible;
    transform: translate(-5px);
  }
}

.showRight{
  animation-name: ballToRight;
}

@keyframes ballToRight{
  from{
    visibility: hidden;
    transform: translate(31px);
  }
  to{
    visibility: visible;
    transform: translate(35px);
  }
}

@keyframes scaleUp{
  0%{
    visibility: hidden;
    transform: translate(31px) scale(400);
    height: 0px;
    opacity: 0;
  }
  35%{
    opacity: 1;
  }
  100%{
    visibility: visible;
    transform: translate(35px) scale(1);
  }
}

.poof{
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.06,.98,.14,.98);
  animation-name: poofy;
}

@keyframes poofy{
  0%{
    opacity: 1;
  }
  45%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.phew{
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.06,.98,.14,.98);
  animation-name: disappear;
}

@keyframes disappear{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.close{
  animation-name: gone;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(.65,.03,1,.61);
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes gone{
  from{
    transform: translate(0);
    visibility: visible;
    width: 100%;
  }
  to{
    width: 50%;
    transform: translate(15.5px);
    visibility: hidden;
  } 
}

.anim{
  color: transparent;
}

.anim:before {
  content: "";
}

.anim:after{
  color: #383736;
  left: 5%;
  position: absolute;
  content: attr(data-content);;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(.75,-0.12,0,1.43);
  animation-name: moveUp;
}

@keyframes moveUp {
  0%{
    left: 5%;
    transform: translateY(50%);
    opacity: 0;
  }
  40%{ 
    transform: translateY(-5%);
    opacity: 1;
  }
  65%{
    transform: translateY(50%);
    opacity: 0;
  }
  66%{
    left: 5%;
  }
  67%{
    left: 0%;
  }
  100%{
    left: 0%;
    transform: translateY(0%);
    opacity: 1;
  }
}
