*{
  padding: 0;
  margin: 0;
  user-select:none;
}
body{
	font-family: 'Open Sans';
	font-weight: 200;
	min-width: 310px;
	min-height: 100px;
	background: #f5f5f5;
	font-size: 16px;
}

h1{
	font-family: 'Open Sans';
	font-weight: 500;
}

.overlay{
    display: none;
    background-color: rgba(1, 1, 1, 0.7);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.contain{
  display: inline-block;
  width: 20%;
  margin: 3px;
}
.container{
  position: fixed;
  width: 300px;
  height: 54px;
  margin-left: 10px;
  margin-top: 1px;
}

.balls{
  border-radius: 50px;
  height: 100%;
  position: absolute;
  display: block;
  visibility: hidden;
  width: 25px;
  background-color: blue;
  margin: 3px;
  text-align: center;
  cursor: pointer;
}

.imageShift{
    width: 13px;
    margin-top: 50%;
    transform: translateY(-50%);
}

.left{
  background-color: rgb(125, 125, 125);

}

.right{
  background-color: #DD4C4F;
  transform: translate(31px);
}

.box{
	text-align: center;
  width: 18%;
	height: 100%;
	background-color: white;
	cursor: pointer;
	display: inline-block;
}

.cover-container{
  padding-top: 5px;
  position: absolute;
  z-index: 5;
}
.cover{
  background-color: rgba(148, 135, 19, 0.5);
  box-shadow: 0 0 0;
  width: 18%;
  height: 100%;
  display: inline-block;
  transform: translateY(-300%);
  cursor: pointer;
}

.border{
  box-shadow: inset 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.border:hover{
  box-shadow: inset 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.plus{
  top: 50%;
  font-size: 30px;
  line-height: 0;
  position: relative;
  color: rgb(117, 117, 117);
}

#buttonContainer{
  position: fixed;
  top: 55%;
  width: 100%;
  height: 25%;
  right: 10px;
  text-align: right;
}

.button{
  width: 20%;
  height: 100%;
  background-color: rgb(125, 125, 125);
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 3px;
}

.button:hover{
  transform: scale(1.05, 1.05);
}

.insideButton{
  width: 100%;
  height: 100%;
  background-color: rgb(125, 125, 125);
  border-radius: 50px;
  cursor: pointer;
  margin: 3px;
}

.buttonText{
  color: white;
  font-weight: 600;
  font-size: 8px;
  letter-spacing: 1px;
  line-height: 0;
  text-align: center;
  top: 50%;
  position: relative;
  user-select: none;
}

#exportButton{
  background: linear-gradient(to right, #07b3bc, #0e5f97);
}

/*
Design Guidelines
Color Scheme:
    #07b3bc - Light Blue
    #0e5f97 - Dark Blue
    #4e22bf - Violet

*/

.showLeft, .showRight{
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.06,.98,.14,.98);
}

.showLeft{
  animation-name: ballToLeft;
}

@keyframes ballToLeft{
  from{
    visibility: hidden;
    transform: translate(31px);
  }
  to{
    visibility: visible;
    transform: translate(-5px);
  }
}

.showRight{
  animation-name: ballToRight;
}

@keyframes ballToRight{
  from{
    visibility: hidden;
    transform: translate(31px);
  }
  to{
    visibility: visible;
    transform: translate(35px);
  }
}

.close{
  animation-name: gone;
  animation-duration: 0.1s;
  animation-timing-function: cubic-bezier(.65,.03,1,.61);
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes gone{
  from{
    transform: translate(0);
    visibility: visible;
    /*display: block;*/
    width: 100%;
  }
  to{
    width: 50%;
    transform: translate(15.5px);
    visibility: hidden;
    /*display: none;*/
  }
}
